/* Custom Font Definitions */
@font-face {
  font-family: 'Interstate';
  src: url('/fonts/Interstate Regular.otf') format('opentype');
  font-weight: 400; /* normal */
  font-style: normal;
}

@font-face {
  font-family: 'Interstate';
  src: url('/fonts/Interstate Bold.otf') format('opentype');
  font-weight: 700; /* bold */
  font-style: normal;
}

@font-face {
  font-family: 'Forza';
  src: url('/fonts/Forza-Medium.otf') format('opentype');
  font-weight: 500; /* medium */
  font-style: normal;
}

@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mainTheme";
  default: true;
  color-scheme: light;

  --color-primary: #191919;
  --color-secondary: #028348;
  

}

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-coreGrey: #191919;
  --color-coreGreen: #028348;
  --color-thinGrey: #636464;
  --color-sidebarTextColor: #e5e5e5;
  --color-secondary-hover: #00581f;
}

/* Reusable gradient utility */
.gradient-core {
  @apply bg-gradient-to-b from-coreGrey to-coreGreen;
}

.gradient-core-reversed {
  @apply bg-gradient-to-b from-coreGreen to-coreGrey;
}

/* Reusable text gradient utility */
.text-gradient-core {
  @apply bg-gradient-to-r from-coreGrey to-coreGreen bg-clip-text text-transparent;
}

.wx-header{
  background-color: white; /* or your theme color */
  z-index: 1;
  margin-bottom: 1em;
  font-size: large;
}

.wx-grid .wx-row:nth-child(even) .wx-cell {
  background-color: #45454543;
  cursor: pointer;
}

.wx-grid .wx-row:nth-child(odd) .wx-cell {
  background-color: white;
  cursor: pointer;
  
}

.wx-grid .wx-row:hover .wx-cell {
  background-color: rgba(55, 55, 55, 0.521);
  cursor: pointer;
  
}

.wx-grid .wx-row .wx-cell:first-child {
  padding-left: 2em;
}

.wx-grid .wx-header .wx-cell:first-child {
  padding-left: 2em;
}

.wx-grid .wx-header .wx-cell:nth-last-child(-n+3) {
  border-left: 2px solid #d1d5db;
}
